{
  "printWidth": 100,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 120,
        "singleQuote": false
      }
    }
  ]
}
